@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
body,
p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
strong {
  font-family: "Figtree", serif !important;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.accordion h3.active {
  background: transparent;
  color: #2447f2;
}
.active .acc-arrow {
  background: #2447f2 !important;
}
.accordion.faq h3.active {
  color: #171717;
}
.html[native-dark-active] .bg-white {
  background-color: #fff !important;
}
body {
  color: var(--foreground);
  background: var(--background);
}
.nav-platform::after {
  content: "";
  height: 17px;
  width: 17px;
  background: #fff;
  position: absolute;
  top: 4px;
  left: 46%;
  transform: rotate(45deg);
}
.card-image:hover h3 {
  color: #2447f2;
}
.tb-btn.active i , .tb-btn:hover i {
  color: #2447f2;
}
.tb-btn i {
  display: inline-flex !important;
}
@media (min-width: 1100px) and (max-width: 1344px) {
.min-h-api {
  min-height: 64px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.min-h-col {
  min-height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 767px) {
  .nav-platform::after {
    display: none;
  }
}
